
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --primary: #2175f5;

    --primaryColor: #ff4655;
    --secondaryColor: #0f1923;

    --whiteColor: #fff;
    --darkColor: #111;
    --lightDarkColor: #222;
    --neutralColor: #9c9c9c;

    --primaryBackgroundColor: #fcf8f0;
    --secondaryBackgroundColor: #ece8e1;

    --primaryTipyngColor: #0f1923;
    --negativeTipyngColor: #fff;

    --tipyngTitle: 'Raleway', sans-serif;
    --tipyngText: 'Open Sans', sans-serif;
    --textSize15: 15px;
    --textSize: 14px;
    --textSize12: 12px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--tipyngText);
    font-size: var(--textSize);

    background-color: var(--primaryBackgroundColor);
}

body *{
    transition: 0.4s;
}

::selection {
    background-color: #9C9C9C;

    color: inherit;
}

p {
    line-height: 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/


#project{
    width: 100%;
    height: auto;

    font-family: 'Poppins', sans-serif;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    padding: 40px;

    overflow: hidden;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 860px;
}

.shoeBackground{
    position: relative;
    width: 50%;
    height: 475px;

    box-shadow: -15px 0px 35px rgba(0, 0, 0, 0.1),
    0px -15px 35px rgba(0, 0, 0, 0.1),
    0px 15px 35px rgba(0, 0, 0, 0.1);
}

.gradients{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.gradient{
    z-index: -2;

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.first{
    z-index: 0;

    animation: 1s width ease-in-out;
}

@keyframes width{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.second{
    z-index: -1;
}

.gradient[color="blue"]{
    background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="red"]{
    background-image: linear-gradient(45deg, #d62926,  #ff4655);
}

.gradient[color="green"]{
    background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="orange"]{
    background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="black"]{
    background-image: linear-gradient(45deg, #111, #666);
}

.logo{
    position: absolute;
    left: 20px;
    top: 20px;

    width: 100px;
}

.share{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 50px;
    height: 50px;


    background-color: #fff;

    color: var(--primary);
    font-size: 1.3rem;
    text-align: center;
    
    border-radius: 50%;
    text-decoration: none;

    transition: 1s ease-in;
}

.nike{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    font-size: 11rem;
    line-height: .9;
    text-transform: uppercase;

    opacity: .1;

    pointer-events: none;
}

.shoe{
    position: absolute;
    bottom: 0;
    right: 0;

    width: 140%;

    transform: rotate(-20deg);
    opacity: 0;

    pointer-events: none;
}

.shoe.show{
    opacity: 1;
}

.info{
    z-index: 1;

    width: 50%;

    padding: 35px 40px;

    background-color: var(--primaryBackgroundColor);

    box-shadow: -15px 0px 35px rgba(0, 0, 0, 0.1),
    0px -15px 35px rgba(0, 0, 0, 0.1),
    0px 15px 35px rgba(0, 0, 0, 0.1);
}

.shoeName{
    padding: 0px 0px 10px 0px;
}

.shoeName div{
    display: flex;
    align-items: center;
}

.shoeName div .big{
    margin-right: 10px;

    color: #333;
    font-size: 2rem;
    line-height: 1;
}

.shoeName div .new{
    padding: 3px 10px;

    background-color: var(--primary);

    color: #fff;
    text-transform: uppercase;

    border-radius: 5px;
}

.shoeName .small{
    margin-top: 3px;

    color: #444;
    font-weight: 500;
    text-transform: capitalize;
}

.shoeName, .description, .color-container, .size-container{
    border-bottom: 1px solid #dadada;
}

.description{
    padding: 10px 0px;
}

.title{
    color: #3a3a3a;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.text{
    color: #555;
    font-size: 17px;
}

.color-container{
    padding: 10px 0px;
}

.colors{
    display: flex;
    align-items: center;

    padding: 8px 0px;
}

.color{
    width: 25px;
    height: 25px;

    margin: 0px 10px;

    border: 5px solid;
    border-radius: 50%;

    cursor: pointer;
    transition: .5s;
}

.color[color="blue"]{
    background-color: #2175f5;
    border-color: #2175f5;
}

.color[color="red"]{
    background-color: #ff4655;
    border-color: #ff4655;
}

.color[color="green"]{
    background-color: #29b864;
    border-color: #29b864;
}

.color[color="orange"]{
    background-color: #ff5521;
    border-color: #ff5521;
}

.color[color="black"]{
    background-color: #444;
    border-color: #444;
}

.color.active{
    border-color: #fff;

    box-shadow: 0px 0px 10px .5px rgba(0, 0, 0, 0.2);

    transform: scale(1.1);
}

.size-container{
    padding: 10px 0px;
    margin-bottom: 10px;
}

.sizes{
    display: flex;
    align-items: center;

    padding: 8px 0px;
}

.size{
    width: 40px;
    height: 40px;

    margin: 0px 10px;

    background-color: #eee;

    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    line-height: 40px;

    border-radius: 6px;
    cursor: pointer;

    transition: .3s;
}

.size.active{
    background-color: var(--primary);
    
    color: #fff;
}

.buy-price{
    display: flex;
    align-items: center;
    justify-content: space-between;


    padding-top: 15px;
}

.price{
    display: flex;
    align-items: flex-start;

    color: #333;
}

.price h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
}

.price i{
    margin-right: 1px;

    font-size: 1.4rem;
}

.buy{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.7rem 1rem;


    background-color: var(--primary);

    color: #fff;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;

    transition: 0.5s ease;
}

.buy:hover{
    transform: translateY(-10%);
}

.buy i {
    margin-right: 15px;
}


@media (max-width: 1070px){


    .shoe{
        width: 135%;
    }


}


@media (max-width: 1000px){


    #project{
        padding-top: 50px;
        padding-bottom: 8px;
    }

    .card{
        flex-direction: column;

        width: 100%;

        box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.2);
    }
    
    .card > div{
        width: 100%;

        box-shadow: none;
    }

    .shoe{
        top: 55%;
        right: 2%;

        width: 100%;

        transform: rotate(-5deg) translateY(-50%);
    }

    .nike{
        font-size: 12rem;
    }


}


@media (max-width: 999.99px){


    .nike{
        top: 43%;

        font-size: 16rem;
    }


}


@media (max-width: 750px){


    .nike{
        top: 43%;

        font-size: 13rem;
    }


}


@media (max-width: 600px){


    .share{
        width: 40px;
        height: 40px;

        font-size: 1rem;
    }

    .logo{
        width: 80px;
    }

    .nike{
        top: 43%;
    
        font-size: 9rem;
    }

}


@media (max-width: 500px){

    .container{
        padding: 20px;
    }

    .shoeName div .big{
        margin-right: 0px;
    
        color: #333;
        font-size: 1.7rem;
        line-height: 1;
    }

    .new{
        position: absolute;
        right: 8%;

        margin-bottom: 0px;
        
        font-size: 0.8rem;
    }

    .title{
        font-size: 1.1rem;
    }

    .text{
        font-size: 1rem;
        line-height: 25px;
    }

    .buy-price{
        flex-direction: column-reverse;
    }

    .buy{
        width: 100%;

        padding: 0.7rem 1rem;

        font-size: 0.8rem;
    }

    .price h2{
        margin-bottom: 20px;
        
        font-size: 1.5rem;
    }

    .price i{
        font-size: 0.9rem;
    }

    .color{
        width: 20px;
        height: 20px;

        margin: 0px 10px;

        border: 4px solid;
    }

    .size{
        width: 30px;
        height: 30px;

        margin: 0px 8px;

        font-size: 0.9rem;
        line-height: 30px;
    }

    .info{
        padding: 35px;
    }


}